In [2]:
import pandas as pd

In [3]:
df1 = pd.read_json("http://pythonhow.com/supermarkets.json")
df1

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [12]:
from geopy.geocoders import Nominatim

In [15]:
nom = Nominatim(scheme="http")

In [17]:
n=nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [19]:
n.latitude

37.7529648

In [20]:
n.longitude

-122.4317141

In [23]:
df1

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [25]:
df1["Address"] = df1["Address"]+","+df1["City"]+","+df1["State"]+","+df1["Country"]
df1

,Address,City,Country,Employees,ID,Name,State
0,"3666 21st St,San Francisco,CA 94114,USA,San Fr...",San Francisco,USA,8,1,Madeira,CA 94114
1,"735 Dolores St,San Francisco,CA 94119,USA,San ...",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"332 Hill St,San Francisco,California 94114,USA...",San Francisco,USA,25,3,Super River,California 94114
3,"3995 23rd St,San Francisco,CA 94114,USA,San Fr...",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"1056 Sanchez St,San Francisco,California,USA,S...",San Francisco,USA,12,5,Sanchez,California
5,"551 Alvarado St,San Francisco,CA 94114,USA,San...",San Francisco,USA,20,6,Richvalley,CA 94114

In [30]:
df1["Coordinates"]= df1["Address"].apply(nom.geocode)
df1

,Address,City,Country,Employees,ID,Name,State,Coordinates
0,"3666 21st St,San Francisco,CA 94114,USA,San Fr...",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St,San Francisco,CA 94119,USA,San ...",San Francisco,USA,15,2,Bready Shop,CA 94119,None
2,"332 Hill St,San Francisco,California 94114,USA...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,..."
3,"3995 23rd St,San Francisco,CA 94114,USA,San Fr...",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St,San Francisco,California,USA,S...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St,San Francisco,CA 94114,USA,San...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [33]:
df1["Latitude"] = df1["Coordinates"].apply(lambda x:x.latitude if x!=None else None)
df1

,Address,City,Country,Employees,ID,Name,State,Coordinates,Latitude
0,"3666 21st St,San Francisco,CA 94114,USA,San Fr...",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,"735 Dolores St,San Francisco,CA 94119,USA,San ...",San Francisco,USA,15,2,Bready Shop,CA 94119,None,NaN
2,"332 Hill St,San Francisco,California 94114,USA...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",37.755725
3,"3995 23rd St,San Francisco,CA 94114,USA,San Fr...",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,"1056 Sanchez St,San Francisco,California,USA,S...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,"551 Alvarado St,San Francisco,CA 94114,USA,San...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673

In [34]:
df1["Longitude"] = df1["Coordinates"].apply(lambda x:x.longitude if x!=None else None)
df1

,Address,City,Country,Employees,ID,Name,State,Coordinates,Latitude,Longitude
0,"3666 21st St,San Francisco,CA 94114,USA,San Fr...",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,"735 Dolores St,San Francisco,CA 94119,USA,San ...",San Francisco,USA,15,2,Bready Shop,CA 94119,None,NaN,NaN
2,"332 Hill St,San Francisco,California 94114,USA...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,"3995 23rd St,San Francisco,CA 94114,USA,San Fr...",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,"1056 Sanchez St,San Francisco,California,USA,S...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,"551 Alvarado St,San Francisco,CA 94114,USA,San...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220